requests>
fastapi>
uvicorn>
pydantic>
anyio>
pyttsx3>
edge-tts>
gtts
pygame>
sounddevice>
numpy>
scipy>
scikit-learn>
joblib>
hmmlearn>
llama-cpp-python>
groq>=0.4.0
dateparser>
geocoder>
nltk>
yt-dlp>
googletrans
pyserial>
openwakeword>
tensorflow
librosa
sounddevice
tf2onnx
webrtcvad